<h1><%= @drone.brand %> <%= @drone.model %></h1>
<p>Brand: <%= @drone.brand %></p>
<p>Model: <%= @drone.model %></p>
<p>Camera: <%= @drone.camera %></p>
<p><%= link_to "Back", owner_drones_path %></p>
