<div class="banner dashboard" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(<%= current_user.banner_pic %>);">
  <div class="banner-content">
    <% if current_user.profile_pic.nil? %>
    <%= image_tag "http://placehold.it/300x300", alt: "profile picture" %>
    <% else %>
    <%= cl_image_tag current_user.profile_pic, height: 300, width: 300, crop: :fill %>
    <% end %>
    <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
    <div class="banner-content-description"><%= current_user.description %></div>
    <div class="banner-content-buttons">
      <%= link_to "Edit your Profile", '#', { class: "btn btn-primary edit-profile", data: { toggle: "modal", target: "#modal-profile"}} %>
      <%= link_to "See All Jobs", jobs_path, class: "btn btn-primary see-profile" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h2>Your listed jobs</h2>
        </div>
      </div>
      <hr>
      <% @jobs.each do |job| %>
      <div class="row">
        <div class="job-details">
          <div class="job-user">
            <div class="col-xs-12">
              <div class="job-user-block">
                <div class="user-block-avatar">
                  <%= cl_image_tag job.user.profile_pic, size: "32x32", crop: :fill, style: "border-radius: 50%;" %>
                </div>
                <div class="user-block-description">
                  <a href=""><%=job.user.first_name%> <%=job.user.last_name%></a>
                  <p><%=job.created_at%></p>
                </div>
              </div>
              <div class="job-description-block">
                <h2><%= link_to job.title, job_path(job) %></h2>

                <p class="job-description"><%=job.description%></p>
                <h6><%= link_to "Read more...", job_path(job) %></h6>
              </div>
              <div class="job-footer">
                <div class="job-footer-spec">
                  <p>
                    <span>
                      TAGS: WEDDING |
                    </span>
                    <span>
                      <i class="fa fa-map-marker"></i> <%=job.location%> |
                    </span>
                    <span>
                      <i class="fa fa-calendar"></i> <%=job.date%>  |
                    </span>
                  </p>
                </div>
                <div class="job-footer-bid">  
                  <p>
                    <span>
                      <i class="fa fa-gavel"></i> <%= job.bids.count %> bids  |
                    </span>
                    <span>
                      <%= link_to "Edit job", edit_inquirer_job_path(job), { class: "btn btn-default" } %>
                      <%= link_to "Delete job", inquirer_job_path(job),  class: "btn btn-default" ,
                      method: :delete,
                      data: { confirm: "Are you sure?" }%>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to "Create a new job", '#', { class: "btn btn-primary btn-xs cta-discover", data: {'job-id': @job, toggle: "modal", target: "#modal-job"}} %>
  </div>
</div>
<%= render 'inquirer/jobs/modal_new'%>
