<div class="container">

<h2>Job.title</h2>

<h4>Description</h4>
<p><%= @job.description %></p>

<h4>Location</h4>
<p><%= @job.location %></p>

<h4>Bids</h4>
<% if @job.bids == [] %>
<p>There are no bids on this job at the moment</p>
<% else %>
<table class="table">
<tr>
  <th>Amount</th>
  <th>Bidder</th>
  <th>Description</th>
  <% if @job.user == current_user %>
  <th></th>
  <% end %>
</tr>
<% @job.bids.each do |bid| %>
  <tr>
    <td>€<%= bid.amount %></td>
    <td><%= bid.drone.user.first_name %></td>
    <td><%= bid.description %></td>
    <% if @job.user == current_user %>
    <td>
      <%= simple_form_for([:inquirer, @job, bid]) do |f| %>
        <%= f.error_notification %>
        <%= f.input_field :status, collection: ["open", "accepted", "closed"], prompt: "open" %>
        <%= f.button :submit %>
      <% end %>
      <!--  link_to "Accept Bid", accept_inquirer_job_bid_path(@job, bid)-->
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
</div>
