<!-- Modal -->
<div class="modal fade" id="modal-bid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for([job, Bid.new]) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Place a bid</h4>
      </div>
      <div class="modal-body">
        <%= f.error_notification %>

        <%= f.input :amount %>
        <%= f.input :description %>
        <%= f.input :drone_id, collection: drones, :label_method => :model, :value_method => :id %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>