<h1 class="text-center">Create a new bid</h1>

<div class="container"> 
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <%= simple_form_for(@bid) do |f| %>
      <%= f.error_notification %>

      <%= f.input :amount %>
      <%= f.input :description %>
      <%= f.input :drone_id, as: :select, :collection => @drones %>

      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>