<div class="jobs-body">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="subtitle"><span>Jobs</span></h2>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-offset-1">
      <div class="sidebar hidden-xs">
        <ul>
          <h5>CATEGORIES</h5>
          <hr>
          <!-- this list should be called with an each statement over each of the categories. Capitals can be changed in css with capitalize -->
          <li><a href="#all" class="active">ALL CATEGORIES</a></li>
          <li><a href="#fun">EDUCATION</a></li>
          <li><a href="#agriculture">ENVIRONMENT</a></li>
          <li><a href="#fun">FAMILY</a></li>
          <li><a href="#festival">FESTIVAL</a></li>
          <li><a href="#fun">FUN</a></li>
          <li><a href="#other">OTHER</a></li>
          <li><a href="#sport">SPORT</a></li>
          <li><a href="#wedding">WEDDING</a></li>
        </ul>
      </div>
    </div>
    <!-- this content should change together with the changing href or the class active -->
    <div class="col-md-8">
      <h5>JOBS > <a href="#all" class="active">ALL CATEGORIES</a></h5>
      <div class="banner-jobs">
        <div class="banner-content">
          <h1>All categories</h1>
          <p>Find your pilot</p>
        </div>
      </div>

      <% @jobs.each do |job|%>
      <div class="row">
        <div class="col-xs-12">
          <div class="job-details">
            <div class="job-user">
              <%= image_tag "jobs/iris.png", class:"list-avatar"%>
              <h6><i class="fa fa-gavel"></i> 2 bids</h6>
              <!-- this h6-content will change to 'place first bid' || the amount of bids placed -->
              <%= link_to "Place a bid", '#', { class: "btn btn-primary new-bid btn-sm", data: {'job-id': job.id, toggle: "modal", target: "#modal-bid"}} %> 
            </div>
            <div>            
              <h4><%=job.user.first_name%></h4>
              <h6>WEDDING</h6>
              <!-- this h6-content tag will change with the category -->
              <p><%=job.description%></p>
            </div> 
          </div>
        </div>
      </div>
      <!-- show 10max and allow user to show the next 10 etc.  -->
      <% end %>

    </div>
  </div>
</div>

<%= render 'bids/modal_new' %>