<!-- <div class="banner jobs" id="all_categories"></div> -->
<%= render 'pages/discover_tabs', active_tab: 'jobs' %>
<div class="jobs-body">
  <div class="container">
    <div class="col-md-2 col-sm-offset-1">
      <div class="sidebar hidden-xs">
        <ul>
          <h5>CATEGORIES</h5>
          <!-- this list should be called with an each statement over each of the categories. Capitals can be changed in css with capitalize -->
          <li><a href="#all" class="active">ALL CATEGORIES</a></li>
          <li><a href="#education">EDUCATION</a></li>
          <li><a href="#environment">ENVIRONMENT</a></li>
          <li><a href="#family">FAMILY</a></li>
          <li><a href="#festival">FESTIVAL</a></li>
          <li><a href="#fun">FUN</a></li>
          <li><a href="#other">OTHER</a></li>
          <li><a href="#sport">SPORT</a></li>
          <li><a href="#wedding">WEDDING</a></li>
        </ul>
      </div>
    </div>
    <!-- this content should change together with the changing href or the class active -->
    <div class="col-md-8">
      <h5>JOBS > 
        <a href="#all">ALL CATEGORIES</a>
<!--         <a href="#education" class="hidden">EDUCATION</a>
        <a href="#environment" class="hidden">ENVIRONMENT</a>
        <a href="#family" class="hidden">FAMILY</a>
        <a href="#festival" class="hidden">FESTIVAL</a>
        <a href="#fun" class="hidden">FUN</a>
        <a href="#other" class="hidden">OTHER</a>
        <a href="#sport" class="hidden">SPORT</a>
        <a href="#wedding" class="hidden">WEDDING</a> -->
        <%= link_to "How to create a job", about_path, { class: "btn btn-primary btn-xs cta-discover"} %> 
      </h5>

      <div class="banner jobs">

        <div class="banner-content" id="all_categories">
          <h1>All categories</h1>
          <p>Find your pilot</p>
        </div>
<!--         <div class="banner-content hidden" id="education">
          <h1>Education</h1>
          <p>Find your pilot for any educational job</p>
        </div>
        <div class="banner-content hidden" id="environment">
          <h1>Environment</h1>
          <p>Find your pilot for example in agriculture or forestry</p>
        </div>
        <div class="banner-content hidden" id="family">
          <h1>Family</h1>
          <p>Find your pilot to capture your family picture orday out</p>
        </div> -->
      </div>

      <% @jobs.each do |job|%>
      <div class="row">
        <div class="jobs-details">
          <div class="job-user">
            <div class="col-xs-12">
              <div class="job-user-block">
                <div class="user-block-avatar">
                  <%= cl_image_tag job.user.profile_pic, size: "32x32", crop: :fill, style: "border-radius: 50%;" %>    
                </div>
                <div class="user-block-description">
                  <a href=""><%=job.user.first_name%> <%=job.user.last_name%></a>
                  <p><%=job.created_at%></p>
                </div>
              </div>
              <div class="job-description-block">
                <h2><%= link_to job.title, job_path(job) %></h2>
                
                <p class="job-description"><%=job.description%></p>
                <h6><%= link_to "Read more...", job_path(job) %></h6>
              </div>
              <div class="job-footer">
                <div class="job-footer-spec">
                  <p>
                    <span>
                      TAGS: WEDDING |
                    </span>
                    <span>
                        <i class="fa fa-map-marker"></i> <%=job.location%> |  
                    </span>
                    <span>
                        <i class="fa fa-calendar"></i> <%=job.date%>  | 
                    </span>
                  </p>
                </div>
                <div class="job-footer-bid">  <p>
                    <span>
                        <i class="fa fa-gavel"></i> <%= job.bids.count %> bids  |  
                    </span>
                    <span>
                        <%= link_to "Place a bid", '#', { class: "btn btn-primary new-bid btn-xs", data: {'job-id': job.id, toggle: "modal", target: "#modal-bid"}} %> 
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- show 10max and allow user to show the next 10 etc.  -->
      <% end %>

    </div>
  </div>
</div>

<%= render 'bids/modal_new', job: Job.first, drones: @drones %>