<div id="drone-footer">
  <div class="wrapper">
    <ul>
      <li><%= link_to t(".home", default: "Home"), root_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to t(".about", default: "About"), "", class: "navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to t(".jobs", default: "Legislation"), "", class: "navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to t(".jobs", default: "Jobs"), jobs_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
    </ul>

    <ul>
  <li><%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
    </ul>

  </div>
</div>
