<div class="banner discover"></div>

<div class="tab-box tab-profile">
  <div class="discover-tabs">
    <h2 class="subtitle">
      <a href="#"data-target="#become_pilot"> <span class="tab discover-tab active" data-target="#become_pilot">How to become a pilot</span></a>
      <a href="#"data-target="#make_job"> <span class="tab discover-tab" data-target="#make_job">How to create jobs</span></a>
    </h2>
  </div>
</div>

<div class="tab-content" id="become_pilot">
  <div class="container padded">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="how-it-works text-center">
          <div class="head-circle">
            <h3>1</h3>
          </div>
          <div class="how-it-works-description">
            <h3>Create</h3>
            <p>Sign up to your free account, personalise your <%= link_to "profile", owner_profile_path %> with your picture, a presonal statement and a listing of your drones.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="how-it-works text-center">
          <div class="head-circle">
            <h3>2</h3>
          </div>
          <div class="how-it-works-description">
            <h3>Discover</h3>
            <p>Now you are ready to check out the <%= link_to "available jobs", jobs_path %> and search specifical</p>
            <p>Place a bid on a job</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="how-it-works text-center">
          <div class="head-circle">
            <h3>3</h3>
          </div>
          <div class="how-it-works-description">
            <h3>Bid</h3>
            <p>Discuss the details and the <%= link_to "law", legislation_path %></p>
            <p>Fly your drone!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="how-it-works text-center">
          <div class="head-circle">
            <h3>4</h3>
          </div>
          <div class="how-it-works-description">
            <h3>Meet</h3>
            <p>Process the products</p>
            <p>Get paid</p>
          </div>
        </div>
      </div>
    </div>
    <p class=" text-center"><%= link_to "Sign up today", new_user_registration_path, class:"btn btn-primary" %></p>
  </div>
</div>

<div class="tab-content hidden" id="make_job">
  <div class="container padded">
    <div class="row">
      <div class="col-sm-6 col-md-3">
      <div class="how-it-works text-center">
          <div class="head-circle">
            <h3>1</h3>
          </div>
          <div class="how-it-works-description">
            <h3>Create</h3>
            <p>Set your requirements</p>
            <p>Be listed on the <%= link_to "jobs forum", jobs_path %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
      <div class="how-it-works text-center">
          <div class="head-circle">
            <h3>2</h3>
          </div>
          <div class="how-it-works-description">
            <h3>Discover</h3>
            <p>Get in touch with a the right pilot</p>
            <p>Check out placed bids or contact a pilot through the <%= link_to "pilots forum", pilots_path %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
      <div class="how-it-works text-center">
          <div class="head-circle">
            <h3>3</h3>
          </div>
          <div class="how-it-works-description">
            <h3>Accept</h3>
            <p>Evaluate the bids from pilots</p>
            <p>Accept the right one for your job</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
      <div class="how-it-works text-center">
          <div class="head-circle">
            <h3>4</h3>
          </div>
          <div class="how-it-works-description">
            <h3>Meet</h3>
            <p>Discuss the important details with the pilot and arrange the job</p>
            <p>Get the final product and pay your pilot!</p>
          </div>
        </div>
      </div>
    </div>
    <p class=" text-center"><%= link_to "Sign up today", new_user_registration_path, class:"btn btn-primary" %></p>
  </div>
</div>


<h2 class="subtitle"><span>Meet our team</span></h2>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-sm-4">
      <div class="team-wrapper">
        <%= image_tag "tom.jpg", class: "img-responsive"%>
        <div class="description">
          <h3>Tom Stemerding</h3>
          <h5> <strong>Co founder + developer</strong></h5>
          <p>
            "Great coders are today's rockstars. That's it!"
          </p>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-sm-4">
      <div class="team-wrapper">
        <%= image_tag "Iris.jpg", class: "img-responsive"%>
        <div class="description">
          <h3>Iris Kramer</h3>
          <h5> <strong>Co founder + developer</strong></h5>
          <p>
            Pellentesque elementum dapibus convallis.
            Vivamus eget finibus massa.
          </p>
          <hr />
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-sm-4">
      <div class="team-wrapper">
        <%= image_tag "roy.jpg", class: "img-responsive"%>
        <div class="description">
          <h3>Roy van Arkel</h3>
          <h5> <strong>Co founder + developer</strong></h5>
          <p>
            "Drones will be the next great thing!"
          </p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>


<div id="map" style="width: 100%;height: 500px;"></div>
<script>
  function initMap() {
    var styles = [
    {
      stylers: [
      { hue: "#79B791" },
      { saturation: -20 }
      ]
    },{
      featureType: "road",
      elementType: "geometry",
      stylers: [
      { lightness: 100 },
      { visibility: "simplified" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
      { visibility: "off" }
      ]
    }
    ];

    var myLatLng = {lat: 52.34304, lng: 4.82928};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: myLatLng,
      scrollwheel:  false,
      styles: styles
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'B.Amsterdam!'
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
async defer></script>
</div>
