<div class="banner">
  <div class="banner-content">
    <h1>Find your drone</h1>
    <a class="btn btn-primary btn-lg">How it works</a>
    <br><br>
    <!-- Search form -->
    <div class="search">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= form_tag(jobs_path, :method => "get", class: "form-section") do %>
              <div class="row">
                <form role="form">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label class="sr-only" for="location">Location</label>
                      <%= text_field_tag :search, params[:search],  placeholder: "Where?", class: "form-control", :input_html => {:minlength => 4 } %>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="sr-only" for="choice">What ?</label>
                      <select id="choice" name="what" class="form-control">
                        <option value="drone">Drone</option>
                        <option value="job">Job</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                     <%= submit_tag "Search", class: "btn btn-primary" %>
                  </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="subtitle"><span>How it works</span></h2>
    </div>
  </div>
  <div class="row padded">
    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
      <h4 class="home">Step 1</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.</p>
    </div>
    <div class="col-xs-6 hidden-xs">
      <img src="https://www.dronebase.com/images/home/map-pointer-217e8e84.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-5 col-sm-offset-1 hidden-xs">
      <img src="https://www.dronebase.com/images/home/drone-inspire-0b12be4c.jpg">
    </div>
    <div class="col-xs-6">
      <h4 class="home">Step 2</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.</p>
    </div>
  </div>
  <div class="row step">
    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
      <h4 class="home">Step 3</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, ratione.</p>
    </div>
    <div class="col-xs-6 hidden-xs">
      <img src="https://www.dronebase.com/images/home/share-8a155b7f.jpg">
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="subtitle"><span>The pilot next door</span></h2>
    </div>
  </div>
  <div class="row padded">
  <% @latest_owners.each do |user| %>
    <div class="col-xs-12 col-sm-4 col-offset-1">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/200/300/?random');">
        <div class="card-category"><%= user.first_name + " " + user.last_name %></div>
        <div class="card-description">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <img class="card-user avatar" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  <% end %>
  <div class="text-center"><%= link_to "Become a pilot",  "#", { class: "btn btn-primary" } %></div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="subtitle"><span>Category's</span></h2>
    </div>
  </div>
  <ul class="featured_services">
    <li class="featured_service col-xs-6 col-md-3">
      <div class="edd_download content-grid-download">
        <div class="edd_download_inner">
          <div class="entry-image">
            <a href="/job/create/" class="feature_icon_link">
              <span class="featured_icon_link_wrapper">
              <i class="featured_icon_wrapper fa fa-heart fa-5x">&nbsp;</i>
              <span class="featured_label">Weddings</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- <div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h2>The latest offers</h2>
        </div>
      </div>
      <hr>
      <% @latest_jobs.each do |job| %>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <p>Created by <%= job.user.first_name %></p>
        </div>
        <div class="col-xs-12 col-sm-9">
          <p><%= job.description %></p>
        </div>
      </div>
      <% end %>
      <div class="row text-center">
        <div class="coll-xs-12">
          <%= link_to "See all open jobs",  jobs_path(@job), { class: "btn btn-primary" } %>
        </div>
      </div>
    </div>
  </div>
</div>
​
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h2>Check out our latest drone providers</h2>
        </div>
      </div>
      <hr>
      <% @latest_owners.each do |user| %>
          <p><%= user.first_name %></p>
​
      <% user.drones.each do |drone|%>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('<%= image_path drone.photo %>');">
          <div class="card-description">
            <h2><%= user.first_name %></h2>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <div class="row text-center">
        <div class="coll-xs-12">
          <%= link_to "Check out all our providers",  owners_path, { class: "btn btn-primary" } %>
        </div>
      </div>
    </div>
  </div>
</div> -->
