<div class="banner">
  <div class="banner-content">
    <h1>Connect through the air</h1>
    <p>Hire your neighbour as a pilot or become the pilot yourself!</p>
    <br><br>
    <!-- Search form -->
    <div class="search">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= form_tag(jobs_path, :method => "get", class: "form-section") do %>
            <div class="row">
              <form role="form">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="sr-only" for="location">Location</label>
                    <%= text_field_tag :search, params[:search],  placeholder: "Location", class: "form-control", :input_html => {:minlength => 4 } %>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="sr-only" for="choice">What ?</label>
                    <select id="choice" name="what" class="form-control">
                      <option value="job">Job</option>
                      <option value="pilot">Pilot</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                 <%= submit_tag "Search", class: "btn btn-primary" %>
               </div>
               <% end %>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-sm-4">
      <div class="how-it-works-home text-center">
        <div class="head-circle  how-it-works-circle">
          <i class="fa fa-search img-circle"></i>
        </div>
        <div class="how-it-works-home-description">
          <h3>Discover</h3>
          <p>On our platform you can find out about recently placed jobs or pilots near you through the search bar above or the <%= link_to "discover", jobs_path%> page where you can personalise your search through various categories.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="how-it-works-home text-center">
        <div class="head-circle how-it-works-circle">
          <i class="fa fa-cloud img-circle"></i>
        </div>
        <div class="how-it-works-home-description">
          <h3>Connect</h3>
          <p>It might have been difficult to find local drone pilots through the web... With Dronehubs you can finally connect to these other droners or get advise from the expert pilots.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="how-it-works-home text-center">
        <div class="head-circle how-it-works-circle">
          <%= image_tag "drone-icon.png", alt:"drone icon"%>
        </div>
        <div class="how-it-works-home-description">
          <h3>Drone on</h3>
          <p>Finally you are able to discuss prices on our public forum and be sure to get the right price for your job. Once you have agreed to the right pilot and drone you will meet up and get the job done.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="padding-top">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <%= link_to "How to create a job", "/about#make_job", { class: "btn btn-primary btn-lg cta-discover"} %>
      </div>
      <div class="col-xs-12 col-md-4 ">
        <%= link_to "How to become a pilot", "/about#become_pilot", { class: "btn btn-primary btn-lg cta-discover"} %>
      </div>
    </div>
  </div>
</div>

<div class="container kill-padding-column">
 <!-- <div class="row padded">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="subtitle"><span>Discover</span></h2>
    </div>
  </div> -->
  <div class="row">
    <%= link_to jobs_path(:category=>"environment") do %>
    <div class="col-md-8">
      <div class="cat-box-new-container">
        <div class="environment cat-box-new ">
          <ul class="cat-list list-unstyled">
            <li class= "text-center"><i class="flex fa fa-5x fa-leaf" %></i></li>
            <li><p class="text-center">Jobs for the environment</p></li>
          </ul>
        </div>
      </div>
    </div>    
    <% end %>
    <%= link_to jobs_path(:category=>"family") do %>
    <div class="col-md-4">
      <div class="cat-box-new-container">
        <div class="family cat-box-new">
          <ul class="cat-list list-unstyled">
            <li class= "text-center"><i class="flex fa fa-5x fa-users" %></i></li>
            <li><p class="text-center">Jobs for families</p></li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <% @latest_owners.each do |owner| %>
    <div class="col-xs-12 col-sm-4">
      <div class="cat-box-new-container">
        <div class="card-home">
        <div class="pilot-label">PILOT</div>
        <div class="triangle-l"></div>
         <!-- style="background-image: url(' owner.drones.photo ');" -->
         <% if owner[:banner_pic].nil? %>
         <%= image_tag "aerial-trees.jpg", class: "card-image" %>
         <% else %>
         <%= image_tag owner.banner_pic, class:"card-image"%>
         <% end %>

         <% if owner[:profile_pic].nil? %>
         <%= image_tag "https://robohash.org/my-own-slug.png?size=300x300", class:"card-avatar" %>
         <% else %>
         <%= image_tag owner.profile_pic, class:"card-avatar"%>
         <% end %>
         <!-- image_tag owner.photo, class:"card-user avatar avatar-large" -->
         <%= link_to "", pilot_path(owner), class: "card-link-home" %>
         <div class="card-description">
            <%= owner.first_name + " " + owner.last_name %>
         </div>
       </div>
     </div>
   </div>
   <% end %>
 </div>
 <div class="row">
  <%= link_to jobs_path(:category=>"education") do %>
  <div class="col-md-4">
    <div class='cat-box-new-container'>
      <div class='education cat-box-new'>
        <ul class="cat-list list-unstyled">
          <li class= "text-center"><i class=" fa fa-5x fa-graduation-cap" %></i></li>
          <li><p class="text-center">Jobs for educational purpose</p></li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to jobs_path(category: "music")  do %>
  <div class="col-md-4">
    <div class="cat-box-new-container">
      <div class="music cat-box-new">
        <ul class="cat-list list-unstyled">
          <li class= "text-center"><i class="flex fa fa-5x fa-music" %></i></li>
          <li><p class="text-center">Jobs for festivals</p></li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to jobs_path(category: "fun")  do %>
  <div class="col-md-4">
    <div class="cat-box-new-container">
      <div class="fun cat-box-new">
        <ul class="cat-list list-unstyled">
          <li class= "text-center"><i class="flex fa fa-5x fa-smile-o" %></i></li>
          <li><p class="text-center">Jobs for fun</p></li>
        </ul>
      </div>
    </div>
  </div>  
  <% end %>
</div>
<div class="row">
  <%= link_to jobs_path(category: "sport")  do %>
  <div class="col-md-4">
    <div class="cat-box-new-container">
      <div class="sport cat-box-new">
        <ul class="cat-list list-unstyled">
          <li class= "text-center"><i class="flex fa fa-5x fa-futbol-o" %></i></li>
          <li><p class="text-center">Jobs for sport events</p></li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to jobs_path(category: "wedding")  do %>
  <div class="col-md-8">
    <div class="cat-box-new-container">
      <div class="wedding cat-box-new">
        <ul class="cat-list list-unstyled">
          <li class= "text-center"><i class="flex fa fa-5x fa-heart-o" %></i></li>
          <li><p class="text-center">Jobs for weddings</p></li>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>



