<% if @owner.owner? %>
<% if @owner[:banner_pic] == "" || @owner[:banner_pic] == nil %>
<div class="banner dashboard" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), asset-url('dutch-landscape.jpg');">
  <% else %>
  <div class="banner dashboard" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(<%= @owner.banner_pic %>);">
    <% end %>
    <div class="banner-content">
      <%= cl_image_tag @owner.profile_pic, height: 150, width: 150, crop: :fill, style: "border-radius: 50%;" %>
      <h1><%= @owner.first_name %> <%= @owner.last_name %></h1>
      <div class="banner-content-description"><%= @owner.description %></div>
      <p>Email: <%= @owner.email %></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2 class="subtitle"><span>Drones</span></h2>
      <% if @owner.drones == [] %>
      <p>This pilot has no drones (yet)</p>
      <% else %>
      <% @owner.drones.each do |drone| %>
      <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
          <% if drone[:photo] == nil %>
          <%= image_tag "http://placehold.it/300x300", size: "300x300", alt: "drone picture" %>
          <% else %>
          <%= cl_image_tag drone.photo, height: 300, width: 300, crop: :fill %>
          <% end %>
          <div class="caption">
            <h3><%= drone.brand %> <%= drone.model %></h3>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <% else %>
  <h1>This user is no pilot</h1>
  <p><%= link_to "get me out of here!", pilots_path, class: "btn btn-danger" %></p>
  <% end %>
