<div class="banner dashboard">
  <h1>Pilot Dashboard</h1>
</div>


<div class="tab-box">
    <h2 class="subtitle">
      <a href="#" ><span class="tab active" data-target="#personal">My Profile</span></a>
     <a href="#"data-target="#profile_jobs"> <span class="tab" data-target="#profile_jobs" >My Jobs</span></a>
   <!--    <p><%= @jobs_amount %></p> -->
      <a href="#"data-target="#profile_bids"><span class="tab" data-target="#profile_bids">My Bids</span></a>
     <!--  <p><%= @bids_amount %></p> -->
      <a href="#"><span class="tab" data-target="#profile_drones">My Drones</span></a>
    </h2>
  </div>

<div class="container">

    <div class="tab-content" id="personal">
      <div class="container padded">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p style="text-align: center;"><%= image_tag "http://placehold.it/300x300", size: "300x300", alt: "profile picture", style: "border-radius: 50%;" %></p>
            <h2 style="text-align: center;"><%= @owner.first_name %> <%= @owner.last_name %></h2>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p>description:</p>
            <!-- should be nice if there is a popup where you can input the description -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dolorem aspernatur quis, sunt. Sapiente illo laboriosam, laborum provident impedit consequuntur assumenda totam, deleniti veniam magnam quo nostrum. Eaque, perferendis aut.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content hidden" id="profile_jobs">
      <div class="container padded">
        <% @jobs.each do |job| %>
          <% if @jobs.nill? %>
            <h3>jo</h3>
          <% else %>
            <p><%= job.description %> <strong>by: <%= job.user.first_name %></strong></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tab-content hidden" id="profile_bids">
      <div class="container padded">
        <ul>
          <% @owner.drones.each do |drone| %>
          <% drone.bids.each do |bid| %>
          <li>€<%= bid.amount %> on job from <%= bid.job.user.first_name %> <strong>status: <%= bid.status %></strong></li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tab-content hidden" id="profile_drones">
      <div class="container padded">
        <div class="row">
          <% @owner.drones.each do |drone| %>
          <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
              <% if drone[:photo] == nil %>
              <%= image_tag "http://placehold.it/300x300", size: "300x300", alt: "drone picture" %>
              <% else %>
              <%= cl_image_tag drone.photo, height: 300, width: 300, crop: :fill %>
              <% end %>
              <div class="caption">
                <h3><%= drone.brand %> <%= drone.model %></h3>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <p><%= link_to "see my Drones", owner_drones_path, { class: "btn btn-success" } %></p>
    </div>

  </div>
</div>
